# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Docker
.docker_volumes/

# Databases (Cuidado aquí: no subas data real)
*.db
*.sqlite3

# OS
.DS_Store

.env
