fastapi
uvicorn
psycopg2-binary
sqlalchemy
numpy
pandas
scikit-learn
alembic
pytest
pytest-cov
httpx
paho-mqtt
vitaldb
requests
openweather
matplotlib
websockets==12.0
scipy==1.11.4
skl2onnx
onnxruntime
